##
# Git Attributes
#
# @link http://git-scm.com/docs/gitattributes
##

# Ignore assets on archive

# Default Excludes
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gitmodules export-ignore

# Metadata
/CHANGELOG.* export-ignore

# Artwork
/artwork/ export-ignore

# Update server
/update/ export-ignore

# Phing build
/build export-ignore
/build.xml export-ignore
/build.properties export-ignore

# Composer installer
/composer.json export-ignore
/composer.lock export-ignore

# Archives
/*.zip export-ignore

# WIPs
/mod_freshmail2.scriptfile.php export-ignore
